aside
	article
		h4 Terir par Experteses
		ul
			li Lorem ipsum dolor sit amet,
			li consectetur adipisicing elit.
			li Quia, commodi, voluptatibus. 
			li Repudiandae quisquam sapiente
			li laudantium eum voluptatum eo

	//- hr

	article.bg-grey
		.lead Webzine
		h4 EFGD4DSA

		p.text-muted Educadas
		p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nisi?

	//- hr(style="border: none")

	article.bg-grey
		.lead Webzine
		h4 EFGD4DSA

		img.flex(src="http://placehold.it/300x20/150/ffffff/000000")

		p.text-muted Educadas
		p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nisi?

	//- hr(style="border: none")

	article.bg-grey
		.lead Webzine
		h4 EFGD4DSA

		p.text-muted Educadas
		p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nisi?	
