include mixins
article
	h4.small-dark-title A la une
	.lead Suterw <span class="text-muted"> | pelsnf le 11/14/14</span>
	h4 Lorem Ipsum Dolor
	p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, quod, aperiam! Ipsa, ducimus. Enim nihil fugit similique eius reiciendis delectus expedita doloribus voluptatibus, hic dolores excepturi, obcaecati voluptates tempore alias.

	+tagblock()
hr

article
	.row
		.col-sm-6
			.small-dark-title A la une
		.col-sm-6
			a(href="") Questo de mous
			span.text-muted | peile 11/14/14

	h4 Culpa qui officia deserunt mollit anim id est laborum 
	p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, quod, aperiam! Ipsa, ducimus. Enim nihil fugit similique eius reiciendis delectus expedita doloribus voluptatibus, hic dolores excepturi, obcaecati voluptates tempore alias.

	+tagblock()
hr

article
	strong Suteres
	span.text-muted | publes 12/24/14

	h4 Molit anim id est laborum
	p: img(src="http://placehold.it/560x350")
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit saepe ullam eum. Eius sed eum perspiciatis natus laborum, cum perferendis distinctio dolor accusantium, architecto nihil explicabo dicta, cupiditate enim aut.

	+tagblock()

hr

article
	strong Suteres
	span.text-muted | publes 12/24/14

	h4 Jenny's got a gun

	p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam odit molestiae in corrupti assumenda, quia consectetur. Maiores at deleniti dicta distinctio maxime quidem hic fugit possimus. Optio, eveniet accusantium quis.

	+tagblock()