include mixins
aside
	article.bg-grey
		h4.small-dark-title Interviews 
		.embed-responsive.embed-responsive-16by9
			<iframe width="560" height="315" src="https://www.youtube.com/embed/mMot_MLWZ0E" frameborder="0" allowfullscreen></iframe>
		h3 Well, do ya???
		p.text-muted Excepter sint occaecat cupidatealajsdf

		.row.text-muted
			.col-sm-6 leppsdf 12/12/12
			.col-sm-6
				.glyphicon.glyphicon-user
				| name of person

	hr

	article
		h4.small-dark-title Interviews
		
		+mediaobject("Hey there")
		+mediaobject("I love spiderman")
		+mediaobject("Your mom said whato")
		+mediaobject("I know you")

	hr

	article
		h2 Fil d'info

		a(href="") Locants
		Strong   Etand , sletuds
		p  Quaerat, quos sunt harum eligendi pariatur. Esse voluptatem libero soluta eaque provident quisquam quasi at.

		a(href="") Locants
		Strong   Etand , sletuds
		p  Quaerat, quos sunt harum eligendi pariatur. Esse voluptatem libero soluta eaque provident quisquam quasi at.

