#you-form
	form
		.form-group
			label(for="exampleInputName") Your Name
			input(type="text" id="exampleInputName" placeholder="Your Name" class="class-control")
		.form-group
			label(for="exampleInputEmail") Your Email
			input.class-control(type="email" id="exampleInputEmail" placeholder="Your Email")
		.form-group-my
			label(for="AreaOffer") Your Offer
			textarea.class-control
		button.btn.btn-default(type="submit") Submit
