$logo_color: #0b365a
$bg_color: rgba(209, 199, 160, 0.69)
#gamburger
	z-index: 3
	&.order-form
		background: $bg_color
		position: absolute
		width: 45px
		height: 45px
		top: 0
		right: 0
		margin: 20px
		border: 4px solid $logo_color
		border-radius: 4%

		&:after, &:before
			content: ' '
			position: absolute
			margin: auto 10%; 
			width: 80% 
			height: 4px
			top: 30% 
			background: $logo_color
			border-radius: 5%
			animation: sky_anim_left 4s 0s ease 

		&:before
			top: 60% 
			animation: sky_anim_right 4s 0s ease 

.form-show
	z-index: 3
	&:after, &:before
		content: ' '
		position: absolute
		margin: auto 10%; 
		width: 80% 
		height: 4px
		top: 30% 
		border-radius: 5%
		transform: translateY(6px) rotate(-45deg) 
		transition: 1s ease

	&:before
		top: 60% 
		transform: translateY(-6px) rotate(45deg)


#you-form
	z-index: 2
	position: fixed
	display: none 
	background: $bg_color
	min-width: 100%
	min-height: 100%
	padding: 10% 10%
	padding-top: 100px
	top: 0
	right: 0
	border: 2px solid #888
	font-size: 1.2em
	font-family: 'Roboto'

	form
		background: red
	
	form:only-child	
		background: lightblue
		display: block
		float: right
		// min-width: 50%

	input, textarea
		max-width: 100%
		min-width: 50%
		padding-left: 20px
		width: 260px 
		height: 40px

	button
		background: white 
		display: block
		min-width: 25%
		width: 130px
		height: 40px
		margin-top: 30px


	
@keyframes sky_anim_right
	from
		right: 25px
	to
		right: 0px

@keyframes sky_anim_left 
	from  
		left: 25px 
	to 
		left: 0px 

@keyframes rot_anim_right
	from
		transform: rotate(0deg)
	to
		transform: rotate(45deg)