@import "0-tools/normolize";
@import "0-tools/bourbon/bourbon";

@import "1-base/_base.sass";
@import "1-base/_vars.sass";

#trans-move {
}

path {
	fill: none;
	fill-rule:evenodd;
	stroke:#753849;
	stroke-width:11px;
	stroke-linecap: round;
	stroke-linejoin:miter;
	stroke-opacity:1;
	transform: scale(0.7) translate(200px,200px);
}

// @keyframes dash {
//   from {
//     stroke-dashoffset: 1000;
// 	stroke-dasharray: 1000;
//     transform: scale(0.5);
//   }
//   to {
//     stroke-dashoffset: 0;
// 	stroke-dasharray: 1000;
//     transform: scale(0.5);
//   }
// }