@import "0-tools/normolize";
@import "0-tools/bourbon/bourbon";

@import "1-base/_base.sass";
@import "1-base/_vars.sass";

#trans-move {
	position: absolute;
	transform: scale(0.5) translate(100,100);
}

.path {
	/*position: relative;*/
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	stroke-linecap:round;
	stroke-width: 30;

    /*transform-origin: center;*/
	animation: dash 3s ease  infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
    transform: scale(0.5);
  }
  to {
    stroke-dashoffset: 0;
    transform: scale(0.5);
  }
}