@import "0-tools/normolize";
@import "0-tools/bourbon/bourbon";

@import "1-base/_base.sass";
@import "1-base/_vars.sass";

@import "4-bootstrap/bootstrap.min.css";
@import "4-bootstrap/bootstrap-theme.min.css";
@import "4-bootstrap/mybootstrap.sass";

/*#trans-move {
	transform: scale(0.5) translate(100,100);
}*/

/*.path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 100;
	stroke-linecap:round;
	stroke-width: 30;
	transform: scale(0.5);
    transform-origin: center;
	animation: dash 3s ease ;

	&:nth-child(2) {
		animation-delay: 3s;
	}
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
	stroke-dasharray: 1000;
    transform: scale(0.5);
  }
  to {
    stroke-dashoffset: 0;
	stroke-dasharray: 1000;
    transform: scale(0.5);
  }
}*/